<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <button class="btn btn-primary" @click="chooseMode('new')">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">
                分類
              </th>
              <th>產品名稱</th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="100">
                是否啟用
              </th>
              <th width="120">
                編輯
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for= "item in products" :key="item.id">
              <td>{{item.category}}</td>
              <td>{{item.title}}</td>
              <td class="text-end">{{item.origin_price}}</td>
              <td class="text-end">{{item.price}}</td>
              <td>
                <span class="text-success" v-if="item.is_enabled">啟用</span>
                <span v-else>未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary btn-sm" @click="chooseMode('edit',item)">
                    編輯
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="chooseMode('del',item)">
                    刪除
                  </button>
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
        
        <pagination :pagination="pagination" @emit-page="getData"></pagination>
      </div>
      
      <!-- Modal -->
      <product_modal :products="tempProducts" :check-new="checkNew" @update-page="getData"></product_modal>
      <del_modal :item="tempProducts" @update-page="getData"></del_modal>
      <!-- Modal -->
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
            integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
            crossorigin='anonymous'></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script type="text/x-template" id="product_modal">
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span v-if="checkNew">新增產品</span>
                <span v-else>編輯產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                    <div class="mb-1">
                      
                        <div class="form-group">
                          <label for="imageUrl">輸入圖片網址</label>
                          <input v-model="products.imageUrl" type="text" class="form-control" 
                              placeholder="請輸入圖片連結">
                        </div>
                      <img class="img-fluid" :src="products.imageUrl" alt="">
                      
                    </div>

                    <div class="mb-1">多圖新增</div>
                    <div v-if="Array.isArray(products.imageUrls)">
                      <div class="mb-1" v-for="(image, key) in products.imageUrls" :key="key">
                        <div class="form-group">
                          <label for="imageUrls">輸入圖片網址</label>
                          <input type="text" class="form-control" v-model="products.imageUrls[key]"
                              placeholder="請輸入圖片連結">
                        </div>
                        <img class="img-fluid" :src="image" alt="">
                      </div>
                      
                      <div v-if="!products.imageUrls.length || products.imageUrls[products.imageUrls.length - 1]">
                        <button class="btn btn-outline-primary btn-sm d-block w-100" @click="products.imageUrls.push('')">
                          新增圖片
                        </button>
                      </div>
                      <div v-else>
                        <button class="btn btn-outline-danger btn-sm d-block w-100" @click="products.imageUrls.pop()">
                          刪除圖片
                        </button>
                      </div>
                    </div>
                    <div v-else>
                      <button class="btn btn-outline-primary btn-sm d-block w-100" @click="createImages">
                        新增圖片喔
                      </button>
                    </div>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="title">標題</label>
                    <input id="title" type="text" class="form-control" v-model ="products.title" placeholder="請輸入標題">
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="category">分類</label>
                      <input id="category" type="text" class="form-control" v-model="products.category"
                             placeholder="請輸入分類">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="price">單位</label>
                      <input id="unit" type="text" class="form-control" v-model="products.unit" placeholder="請輸入單位">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="origin_price">原價</label>
                      <input id="origin_price" type="number" min="0" class="form-control" v-model.number="products.origin_price" placeholder="請輸入原價">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="price">售價</label>
                      <input id="price" type="number" min="0" class="form-control" v-model.number="products.price"
                             placeholder="請輸入售價">
                    </div>
                  </div>
                  <hr>

                  <div class="form-group">
                    <label for="description">產品描述</label>
                    <textarea id="description" type="text" class="form-control" v-model="products.description"
                              placeholder="請輸入產品描述">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label for="content">說明內容</label>
                    <textarea id="description" type="text" class="form-control" v-model="products.content"
                              placeholder="請輸入說明內容">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input id="is_enabled" class="form-check-input" type="checkbox"
                             :true-value="1" :false-value="0" v-model="products.is_enabled">
                      <label class="form-check-label" for="is_enabled">是否啟用</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @click="updateData()">
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="updateData()">
                確認
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="del_modal">
      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
           aria-labelledby="delProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger"></strong> {{item.title}}(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="delProduct()">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="pagination">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" :class="{'disabled':pagination.current_page === 1}">
            <a class="page-link" href="#" aria-label="Previous" @click="changePage(pagination.current_page-1)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" v-for="item in pagination.total_pages" :class="{ active : item === pagination.current_page }" ><span class="page-link" v-if="item === pagination.current_page">{{item}}</span><a class="page-link" href="#" v-else @click="changePage(item)">{{item}}</a></li>
          
          <li class="page-item" :class="{ 'disabled' : pagination.current_page === pagination.total_pages}">
            <a class="page-link" href="#" aria-label="Next" @click="changePage(pagination.current_page+1)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </script>

    <script type="module">
      const url = 'https://vue3-course-api.hexschool.io';
      const apiPath = 'jacky298';
      let addModal = null;
      let delModal = null;

      const app = Vue.createApp({
        data(){
          return{
            products:[],
            tempProducts:{
              imageUrl:[]
            },
            pagination:{}  
            ,
            checkNew:false
          }
        },
        methods:{
          //預設1
          getData(page){
            axios.get(`${url}/api/${apiPath}/admin/products?page=${page}`)
            .then(res=>{
              //console.log(res.data);
              if(res.data.success){
                const {products,pagination} = res.data;
                this.products = products;
                this.pagination = pagination;
                console.log(this.products);
                console.log(this.pagination);
              }else{
                alert(res.data.success);
              }              
            }).catch(err=>console.log(err))
          },
          chooseMode(isNew,item){
            switch(isNew){
              case 'new':
                this.tempProducts={}
                this.checkNew = true;
                
                console.log('觸發')
                addModal.show();
                break;
              case 'edit':
                this.tempProducts = {...item};
                this.checkNew = false;
              
                addModal.show();
                break;
              case 'del':
                this.checkNew=false;
                this.tempProducts = {...item };
                delModal.show();
                
                break;
              default:
                break;
            }
          },
          
        },
        mounted(){
          const token = document.cookie.replace(/(?:(?:^|.*;\s*)jackyToken\s*\=\s*([^;]*).*$)|^.*$/, "$1"); 
          axios.defaults.headers.common['Authorization'] = token;
          this.getData();
        },
        
      })
      .component('pagination',{
        data(){
          return{}
        },
        props:['pagination'],
        methods:{
          changePage(page_num){
            this.$emit('emitPage',page_num);
            
          }
        },
        template:`#pagination`,
        created(){},
        mounted(){}
      })
      .component('product_modal',{
        data(){
          return{
          }
          
        },
        props:['products','checkNew'],
        
        methods:{
          updateData(){
            console.log(this.checkNew);
            //checking the variable of checkNew status
           let api = `${url}/api/${apiPath}/admin/product`;
           let http;
           if(this.checkNew){
             http = 'post';
           }else{
             api = `${url}/api/${apiPath}/admin/product/${this.products.id}`;
             http = 'put';
           }

           //update data base
           axios[http](api,{data:this.products})
            .then(res=>{
              //hide Modal
              //render new data
              if(res.data.success){
                addModal.hide();
                //this.getData();
                this.$emit('updatePage')
              }else{
                alert(res.data.message)
              }
              
            }).catch(err=>console.log(err))
          },
          createImages(){
            this.products.imageUrls = [];
            this.products.imageUrls.push(' ');    
          }
        },
        template:`#product_modal`,
        created(){
          this.product
        },
        mounted(){
          addModal = new bootstrap.Modal(document.getElementById('productModal'),{keyboard:false});
        }
        
      })
      .component('del_modal',{
        data(){
          return{
            
          }
        },
        props:['item'],
        methods:{
          delProduct(){
            //fetch api
            axios.delete(`${url}/api/${apiPath}/admin/product/${this.item.id}`)
              .then(res=>{
                //1.change Modal mode
                //2.render new data
                if(res.data.success){
                  delModal.hide();
                  //this.getData();
                  this.$emit('updatePage');
                }else{
                  alert(res.data.message)
                }
              }).catch(err=>console.log(error))
          },
        },
        template:`#del_modal`,
        mounted(){
          delModal = new bootstrap.Modal(document.getElementById('delProductModal'),{keyboard:false});
        }
      })
      app.mount('#app');
     // Vue.createApp(app).mount('#app')
    </script>
  </body>

</html>